<launch>

	<arg name="stereo_f" default="/stereo_forward"/>
	<arg name="camera_f" default="/$(arg stereo_f)/left"/>
	<arg name="stereo_d" default="/stereo_down"/>
	<arg name="camera_d" default="/$(arg stereo_d)/left"/>
  	<arg name="image" default="image_rect_color"/>

	<include file="$(find triton_launchfiles)/launch/two_cameras/valve_tracker.launch">
		<arg name="stereo" value="$(arg stereo_d)"/>
		<arg name="image" value="$(arg image)"/>
	</include>

	<include file="$(find triton_launchfiles)/launch/two_cameras/ar_marker_endeffector.launch">
		<arg name="camera" value="$(arg camera_f)"/>
		<arg name="image" value="$(arg image)"/>
	</include>

	<include file="$(find triton_launchfiles)/launch/two_cameras/ar_marker_panel.launch">
		<arg name="camera" value="$(arg camera_f)"/>
		<arg name="image" value="$(arg image)"/>
	</include>

</launch>