<launch>

  <arg name="camera" default="/stereo_down/right"/>
  <arg name="image" default="image_rect_color"/>

  <arg name="show_debug_image" default="false"/>
  <arg name="dynamic_thres_rate" default="1.0"/>
  <arg name="max_bin_thres" default="190"/>
  <arg name="min_bin_thres" default="160"/>

  <node pkg="pattern_pose_estimation" type="marker_detector_node" name="marker_detector_panel">
    <remap from="image" to="$(arg camera)/$(arg image)" />
    <rosparam command="load" file="$(find triton_launchfiles)/etc/marker_detector_panel.yaml" />
    <param name="marker_frame" value="panel_marker"/>
    <param name="marker_msg" value="ar_pose_panel"/> 
  	<param name="use_history" type="bool" value="true"/>
  	<param name="cache_camera_info" type="bool" value="true"/>
  	<param name="lazy" type="bool" value="false"/>
  	<param name="rectified" type="bool" value="true"/>
    <param name="show_debug_image" value="$(arg show_debug_image)"/>
    <param name="dynamic_thres_rate" value="$(arg dynamic_thres_rate)"/>
    <param name="max_bin_thres" value="$(arg max_bin_thres)"/>
    <param name="min_bin_thres" value="$(arg min_bin_thres)"/>
  </node>

  <node pkg="pattern_pose_estimation" type="marker_filter_node" name="marker_filter_panel" output="screen">
    <param name="frame_id" value="panel_marker"/>
  	<param name="parent_frame_id" value="stereo_down_optical_right"/>
    <param name="marker_msg" value="ar_pose_panel"/> 
    <param name="filter_mode" value="best"/>
    <param name="use_wwf" value="true"/>
    <param name="num_samples_wwf" value="10"/>
    <param name="ramp_wwf" value="0.5"/>
  </node>

  <!-- For calibration purposes -->
  <!--node pkg="tf" type="static_transform_publisher" name="tmp_2" args="0.131 -0.303 0.782 0.016 0.012 -1.809 stereo_down_optical_right panel_marker 100" /-->
  <!--node pkg="tf" type="static_transform_publisher" name="tmp_calib" args="0 0 0 1.57 -1.57 0 ee_marker tip 100" /-->

  <!-- Static transform from marker to connector -->
  <!--node pkg="tf" type="static_transform_publisher" name="marker_to_connector" args="-0.201 -0.09 0.326 1.503 0 -3.112 panel_marker connector 100" /-->
  <node pkg="tf" type="static_transform_publisher" name="marker_to_connector" args="-0.201 -0.045 0.36 1.57 0 -3.14 panel_marker connector 100" />

  <!-- Static transform from marker to valve -->
  <!--node pkg="tf" type="static_transform_publisher" name="panel_to_valve" args="-0.2 0.246 0.168 1.541 -0.507 -3.139 panel_marker valve_filtered 100" /-->
  <node pkg="tf" type="static_transform_publisher" name="panel_to_valve" args="-0.2 0.295 0.21 1.541 -0.507 -3.139 panel_marker valve_filtered 100" />

</launch>
