<launch>
	<arg name="camera" default="/stereo_forward/left"/>
	<arg name="image" default="image_rect_color"/>
	<arg name="reference_frame_id" default="/stereo_forward_optical"/>
	<arg name="child_frame_id" default="/template_image"/>
	<arg name="listen_services" default="true"/>

	<node pkg="template_pose_estimation" type="template_pose" name="template_pose" output="screen">
		<param name="image_topic" value="$(arg camera)/$(arg image)"/>
		<param name="image_info_topic" value="$(arg camera)/camera_info"/>

        <param name="queue_size" value="2"/> <!-- coa d'imatges -->
        <param name="desc_threshold" value="0.88"/> <!-- pujar a 0.88 o 0.9 si hi ha poques features -->
		<param name="min_matches" value="30"/>
		<param name="min_inliers" value="20"/>
		<param name="template_image_name" value="$(find triton_launchfiles)/etc/image_connector400.png"/>
		<param name="frame_id" value="$(arg reference_frame_id)"/>
		<param name="template_frame_id" value="$(arg child_frame_id)"/>
		<param name="desc_type" value="SIFT"/>
		<param name="bucket_width" value="30"/>
		<param name="bucket_height" value="30"/>
		<param name="max_bucket_features" value="15"/>

		<!-- This parameters are important! (in m) -->
	    <param name="template_width" value="0.42"/>
	    <param name="template_height" value="0.16"/>

		<!-- Listen to services -->
		<param name="listen_services" value="$(arg listen_services)"/>
	</node>

	<node pkg="tf_tools" type="tf_filter" name="tf_filter_template_pose" output="screen">
		<param name="reference_frame_id" value="$(arg reference_frame_id)"/>
		<param name="child_frame_id" value="$(arg child_frame_id)"/>
		<param name="frequency" value="5"/>
		<param name="ramp_wwf" value="0.5"/>
		<param name="num_samples_wwf" value="40"/>
	</node>

	<!-- Static transform from valve to connector -->
	<node pkg="tf" type="static_transform_publisher" name="valve_to_connector" args="0 -0.0 -0.35 0 0 0 $(arg child_frame_id)_filtered connector 100" />

</launch>
